{% extends 'base.html' %}
{% load static %}
<style>
     /* Custom CSS for equal-sized images */
     .equal-card-img {
          height: 150px;
          /* Adjust the height as needed */
          object-fit: cover;
          /* Ensure the image covers the entire container */
     }
</style>
{% block content %}
<div class="container">
     <br><br>
     <div class="card mb-3">
          <div class="row g-0">
               <div class="col-md-4">
                    <img src="{{product.image.url}}" class="card-img-top equal-card-img" alt="...">
               </div>
               <div class="col-md-8">
                    <div class="card-body">
                         <h5 class="card-title">{{product.name}}</h5>
                         <p class="card-text">{{product.description}}</p>
                         {% if product.is_sale %}
                         <div class="d-flex  small text-warning mb-2">
                              <div class="bi-star-fill"></div>
                              &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                              <div class="bi-star-fill"></div>
                         </div>
                         <!-- Product price-->
                         <span style="text-decoration: line-through;">${{product.price}}</span>

                         &nbsp;
                         ${{product.sale_price}}
                         {% else %}
                         ${{product.price}}
                         <br>ID:{{product.id}}
                         {% endif %}
                    </div>
                    <a href="{% url 'home'%}" class="btn btn-secondary">Back</a>
                    <button type="button" value="{{product.id}}" class="btn btn-warning text-light" id="add-cart">Add To
                         Cart</button>
               </div>
          </div>
     </div>
</div>


<script>
     // Check if button pressd
     $(document).on('click', '#add-cart', function (e) {
          e.preventDefault();
          $.ajax({
               type: 'POST',
               url: "{% url 'cart_add' %}",
               data: {
                    product_id: $('#add-cart').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
               },
               success: function(json){
                    console.log(json)
               },
               error: function(xhr, errmsg, err){

               }
          });
     })
</script>


{% endblock %}